<div class="page-header">
  <div class="container-fluid">
    <h1>
      <i class="material-icons left">assignment</i> Détails du licence ou
      autorisation
    </h1>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="btn-group" role="group">
      <a routerLink="/licences" class="btn btn-flat waves-effect">
        <i class="material-icons left">arrow_back</i>Retour
      </a>
      <a class="btn btn-primary waves-effect disabled-link">
        <i class="material-icons left">edit</i>Modifier
      </a>
      <a
        class="btn red waves-effect disabled-link"
        *appHasPermission="'bateau.delete'"
      >
        <i class="material-icons left">delete</i>Supprimer
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7" id="autorisation">
    <div class="card">
      <div class="card-content">
        <div class="row">
          <div class="col s4 m4 institution-header">
            <p>MINISTERE DE LA MER, DE LA PECHE ET DE L'ECONOMIE BLEUE</p>
            <p>-----------------</p>
            <p>SECRETARIAT GENERAL</p>
            <p>-----------------</p>
            <p>DIRECTION GENERALE DES PECHES ET DE L'AQUACULTURE</p>
            <p>-----------------</p>
            <p>DIRECTION DES PECHES</p>
          </div>
          <div class="col s4 m4 autorisation-header">
            <p class="center autorisation-title">
              AUTORISATION DE PECHE ARTISANALE
            </p>
            @if (data.numero_licence) {
              <p class="center autorisation-title">
                Nº {{ formatedImmatrication(data.numero_licence) }}
              </p>
            }

            @if (data.annee_validite) {
              <p class="autorisation-subtitle">
                ANNEE DE VALIDITE {{ data.annee_validite }}
              </p>
            } @else {
              <p class="autorisation-subtitle">ANNEE DE VALIDITE ____</p>
            }

            <table class="borderless">
              <tr>
                <td rowspan="2" width="60%">
                  <p class="autorisation-subtitle2">PROPRIETAIRE :</p>
                </td>
                <td>
                  <div class="input-field form-input autorisation-subtitle2">
                    <label class="checkbox-readonly">
                      <input
                        type="checkbox"
                        name="pour_ordre"
                        class="filled-in"
                        readonly
                        [checked]="
                          bateau.proprietaire_info &&
                          checkProprietaireType(
                            bateau.proprietaire_info.nationalite
                          ) == 'NATIONAL'
                        "
                      />
                      <span style="font-size: 12px">NATIONAL</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="input-field form-input">
                    <label class="checkbox-readonly">
                      <input
                        type="checkbox"
                        name="pour_ordre"
                        class="filled-in"
                        readonly
                        [checked]="
                          bateau.proprietaire_info &&
                          checkProprietaireType(
                            bateau.proprietaire_info.nationalite
                          ) == 'ETRANGER'
                        "
                      />
                      <span style="font-size: 12px">ETRANGER</span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col s4 m4 logo-ministere right-align">
            <img src="../../../../assets/logo.png" alt="" />
          </div>
        </div>
        <div class="row" style="margin-top: 60px">
          <div class="col s2 m2">
            <p class="center">Visa</p>
            <p class="center">DP</p>
          </div>
          <div class="col s10 m10">
            <p>CARACTERISTIQUES DE L'EMBARCATION</p>
            <table style="border: 2px solid black">
              <tr>
                <td>Nom :</td>
                <td>{{ bateau.nom_bateau || "N/A" }}</td>
              </tr>
              <tr>
                <td>N° d'immatriculation :</td>
                <td>{{ bateau.numero_immatriculation || "N/A" }}</td>
              </tr>
              <tr>
                <td>Type de pirogue :</td>
                <td>{{ bateau.materiau_coque || "N/A" }}</td>
              </tr>
              <tr>
                <td>Marque :</td>
                <td>{{ bateau.moteur_marque || "N/A" }}</td>
              </tr>
              <tr>
                <td>Puissance motrice :</td>
                <td>{{ bateau.moteur_puissance_cv || "N/A" }}</td>
              </tr>
              <tr>
                <td>Débarcadère d'attache :</td>
                @if (bateau.site_port_attache_info) {
                  <td>{{ bateau.site_port_attache_info.nom }}</td>
                } @else {
                  <td>N/A</td>
                }
              </tr>
              <tr>
                <td>Site de débarquement :</td>
                @if (bateau.site_obligatoire_info) {
                  <td>
                    {{ listSiteDebarquement(bateau.site_obligatoire_info) }}
                  </td>
                } @else {
                  <td>N/A</td>
                }
              </tr>
            </table>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col s2 m2"></div>
          <div class="col s10 m10">
            <p>IDENTIFICATION DU PROPRIETAIRE</p>
            <table style="border: 2px solid black">
              <tr>
                <td>Nom du propriétaire :</td>
                <td>
                  @if (bateau.proprietaire_info) {
                    {{ bateau.proprietaire_info.nom }}
                    {{ bateau.proprietaire_info.prenom }}
                  } @else {
                    N/A
                  }
                </td>
              </tr>
              <tr>
                <td>Nationalité :</td>
                <td>
                  @if (bateau.proprietaire_info) {
                    {{ bateau.proprietaire_info.nationalite }}
                  } @else {
                    N/A
                  }
                </td>
              </tr>
              <tr>
                <td>Type et numéro de pièce d'identification :</td>
                <td>
                  @if (bateau.proprietaire_info) {
                    {{ bateau.proprietaire_info.type_carte }}
                    {{ bateau.proprietaire_info.numero_piece }}
                  } @else {
                    N/A
                  }
                </td>
              </tr>
              <tr>
                <td>Résidence :</td>
                <td>
                  @if (bateau.proprietaire_info) {
                    {{ bateau.proprietaire_info.residence }}
                  } @else {
                    N/A
                  }
                </td>
              </tr>
              <tr>
                <td>Tel :</td>
                <td>
                  @if (bateau.proprietaire_info) {
                    {{ bateau.proprietaire_info.telephone }}
                  } @else {
                    N/A
                  }
                </td>
              </tr>
              <tr>
                <td>Coopérative :</td>
                <td>
                  @if (bateau.cooperative_armement_info) {
                    {{ bateau.cooperative_armement_info.sigle }}
                  } @else {
                    N/A
                  }
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="row" style="margin-top: 10px">
          <div class="col s2 m2">
            <p class="center">Visa</p>
            <p class="center" style="font-size: 9px">Responsable service</p>
            <p class="center" style="font-size: 9px">(SPA/CB/DP)</p>
          </div>
          <div class="col s10 m10">
            <p>TECHNIQUES ET ENGINS DE PECHE</p>
            <table style="border: 2px solid black">
              <tr>
                <td>CODE BARRE</td>
                <td>TYPES DE PECHE AUTORISES</td>
              </tr>
              <tr>
                <td>
                  <img
                    src="../../../../assets/qr_code.png"
                    alt=""
                    style="height: 150px"
                  />
                </td>
                <td>
                  <p>
                    Engin de pêche 1 :
                    <span>
                      @if (bateau.engin_peche1) {
                        {{ bateau.engin_peche1.libelle }}
                      } @else {
                        N/A
                      }
                    </span>
                  </p>
                  <p>
                    Espèces cibles 1 : {{ espece_cible1.nom_commun_francais }}
                  </p>
                  <br />
                  <p>
                    Engin de pêche 2 :
                    <span>
                      @if (bateau.engin_peche2) {
                        {{ bateau.engin_peche2.libelle }}
                      } @else {
                        N/A
                      }
                    </span>
                  </p>
                  <p>
                    Espèces cibles 2 : {{ espece_cible2.nom_commun_francais }}
                  </p>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row" style="margin-top: 10px">
          <div class="col s2 m2"></div>
          <div class="col s10 m10">
            <table style="border: 2px solid black">
              <tr>
                <td>PERIODE DE VALIDITE DE L'AUTORISATION :</td>
                <td>
                  DU {{ formatDateFrench(data.date_debut) || "N/A" }} AU
                  {{ formatDateFrench(data.date_expiration) || "N/A" }}
                </td>
              </tr>
              <tr>
                <td>MONTANT DE L'AUTORISATION :</td>
                <!-- <td>200 000 FCFA</td> -->
                <td>
                  {{
                    data.montant_paye
                      | currency: "XAF" : "symbol" : "1.0-0" : "fr"
                  }}
                </td>
              </tr>
              <tr>
                <td>
                  Quittance Trésor : {{ data.reference_paiement || "N/A" }}
                </td>
                <td>Fait à Libreville, le 01 janvier 2024</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col s8 m7"></div>
          <div class="col s4 m5" *ngIf="data.pour_ordre">
            <p style="font-size: 12px">P. Le Ministre,</p>
            <p style="font-size: 12px">
              @if (data.signataire_info) {
                P.O {{ data.signataire_info.role.nom_role }}
              }
            </p>
            <p style="padding-top: 50px; font-size: 13px">
              @if (data.signataire_info) {
                <b>{{ data.signataire_info.nom_complet }}</b>
              }
            </p>
          </div>
          <div class="col s4 m5" *ngIf="!data.pour_ordre">
            <p style="font-size: 12px">Le Ministre,</p>
            <p style="padding-top: 50px; font-size: 13px">
              <b *ngIf="data.signataire">{{ data.signataire.nom_complet }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scan licence et statistiques de peche -->
  <div class="col s12 m5">
    <!-- Licence scannée -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">Aperçu de la licence</span>
        <div id="card-preview" class="carte-preview">
          <!-- La carte sera générée dynamiquement -->
          <!-- <div *ngIf="cardHtml" [innerHtml]="cardHtml"></div> -->
          <div class="center-align" style="padding: 2rem">
            <i class="material-icons large grey-text">picture_as_pdf</i>
            <p class="grey-text">
              Cliquez sur "Télécharger PNG" ou "Imprimer" pour la licence
              scannée
            </p>
          </div>
        </div>
        <p class="center-align mt-2">
          <a
            class="btn btn-small waves-effect waves-light green"
            style="margin-left: 8px"
            *ngIf="!data.document_scan"
          >
            <i class="material-icons left">upload</i>
            Charger le document scanné
          </a>
          <a
            class="btn btn-small waves-effect waves-light orange"
            style="margin-left: 8px"
            *ngIf="data.document_scan"
          >
            <i class="material-icons left">print</i>
            Imprimer
          </a>
        </p>
      </div>
    </div>

    <!-- Métadonnées -->
    <div class="card">
      <div class="card-content">
        <span class="card-title">Statistiques de pêche</span>
        <hr />
        <div class="stat-item">
          <i class="material-icons blue-text">set_meal</i>
          <div>
            @if (captures && captures.total_captures) {
              <strong>
                {{ captures.total_captures.total_captures_kg | number }} kg =
                {{ captures.total_captures.total_captures_tonnes | number }}
                tonnes</strong
              >
            } @else {
              <strong>0 kg</strong>
            }

            <p>Total captures</p>
          </div>
        </div>
        <hr />
        <span class="card-title" style="font-size: 18px"
          >Captures par especes</span
        >
        <table>
          <thead>
            <tr>
              <th>Espèce</th>
              <th>Quantité (kg)</th>
              <th>Quantité (tonnes)</th>
            </tr>
          </thead>
          <tbody>
            @if (captures && captures.captures_par_especes.length > 0) {
              <tr *ngFor="let capture of captures.captures_par_especes">
                <td>{{ capture.nom }}</td>
                <td class="right-align" style="font-weight: bold">
                  {{ capture.quantite_kg | number }} kg
                </td>
                <td class="right-align" style="font-weight: bold">
                  {{ capture.quantite_tonnes | number }} tonnes
                </td>
              </tr>
            } @else {
              <tr>
                <td colspan="3" class="center-align">
                  <p class="grey-text">Aucune capture trouvée</p>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
