<div class="page-header">
  <div class="container-fluid">
    <h1>
      <i class="material-icons left">assignment</i> Licences et autorisations
    </h1>
    <p>Gestion des licences et autorisations de pêche</p>
  </div>
</div>

<div class="container-fluid">
  <!-- Filtres et actions -->
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s12 m3">
          <div class="form-input">
            <label>Type</label>
            <div class="input-field">
              <select
                [(ngModel)]="filters.type"
                class="browser-default"
                (change)="applyFilters()"
              >
                <option value="">Tous les types</option>
                <option value="licences">Licences de pêche</option>
                <option value="autorisations">Autorisation de pêche</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="form-input">
            <label>Validité</label>
            <div class="input-field">
              <select
                [(ngModel)]="filters.statut"
                class="browser-default"
                (change)="applyFilters()"
              >
                <option value="">Afficher tout</option>
                <option value="Actif">Valide</option>
                <option value="expire">Expiré</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <div class="form-input">
            <label>Année de signature</label>
            <div class="input-field">
              <select
                class="browser-default"
                id="year"
                name="annee_validite"
                [(ngModel)]="selectedYear"
                (change)="applyFilters()"
                required
              >
                <option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col s12 m3">
          <a
            routerLink="/licences/add"
            class="btn btn-primary waves-effect waves-light"
            style="margin-top: 1.5rem"
            *appHasPermission="'bateau.create'"
          >
            <i class="material-icons left">add</i>
            Nouvelle licence/autorisation
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Résultats -->
  <div class="card" *ngIf="!loading">
    <div class="card-content">
      <span class="card-title">
        {{ totalData }} licence(s) et autorisation(s) trouvé(s)
      </span>
      <div class="table-responsive">
        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Numéro</th>
              <th>Embarcation</th>
              <th>Propriétaire</th>
              <th>Type de pêche</th>
              <th>Site / Port d'attache</th>
              <th>Site débarquement</th>
              <th>Année</th>
              <th>Validité</th>
              <!-- <th>Statut</th> -->
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let licence of licences">
              <td>
                <strong>{{ licence.numero_licence }}</strong>
              </td>
              <td>
                <strong
                  >{{ licence.bateau_info?.nom }}_{{
                    licence.bateau_info?.immatriculation
                  }}</strong
                >
              </td>
              <td>{{ licence.nom_titulaire || "Sans nom" }}</td>
              <td>
                <span class="badge blue lighten-4 blue-text text-darken-4">
                  {{ licence.type_licence }}
                </span>
              </td>
              <td>{{ licence.bateau_info?.site_port_attache?.nom }}</td>
              <td>
                {{
                  listSiteDebarquement(licence.bateau_info?.site_obligatoire)
                }}
              </td>
              <td>{{ licence.annee_validite }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="
                    licence.est_active ? 'green white-text' : 'red white-text'
                  "
                >
                  {{ licence.est_active ? "Valide" : "Expiré" }}
                </span>
              </td>
              <!-- <td>
                <span class="badge" [ngClass]="getStatutClass(licence.statut)">
                  {{ licence.statut }}
                </span>
              </td> -->
              <td>
                <div class="btn-group" role="group">
                  <a
                    [routerLink]="['/licences', licence.id, 'details']"
                    class="btn-small btn white-text btn-flat green waves-effect"
                    title="Voir détails"
                  >
                    <i class="material-icons">visibility</i>
                  </a>
                  <a
                    (click)="generatePDf(licence.id)"
                    class="btn-small btn white-text btn-flat blue waves-effect"
                    title="Imprimer"
                  >
                    <i class="material-icons">print</i>
                  </a>
                  <a
                    [routerLink]="['/licences', licence.id, 'edit']"
                    class="btn-small btn white-text btn-flat amber waves-effect"
                    [class.disabled-link]="addClassToEditLicenceButton(licence)"
                    title="Modifier"
                  >
                    <i class="material-icons">edit</i>
                  </a>
                  <a
                    (click)="deleteLicence(licence)"
                    class="btn-small btn btn-flat white-text waves-effect red"
                    [class.disabled-link]="addClassToEditLicenceButton(licence)"
                    title="Supprimer"
                  >
                    <i class="material-icons">delete</i>
                  </a>
                </div>
              </td>
            </tr>
            <tr *ngIf="licences.length === 0">
              <td colspan="8" class="center-align">
                <p class="grey-text">
                  Aucune licence trouvée avec ces critères
                </p>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="center" style="padding-top: 20px">
          <button
            (click)="prevPage()"
            class="btn waves-effect waves-light white darken-4 btn-small"
            [disabled]="currentPage === 1"
          >
            <i class="material-icons" style="color: #000000">chevron_left</i>
          </button>
          <span
            class="page-number"
            style="margin-left: 10px; margin-right: 10px"
            >page {{ currentPage }} / {{ totalPages() }}</span
          >
          <button
            (click)="nextPage()"
            class="btn waves-effect waves-light white btn-small"
            [disabled]="currentPage === totalPages()"
          >
            <i class="material-icons" style="color: #000000">chevron_right</i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Loading -->
  <div class="spinner-container" *ngIf="loading">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
</div>
